# Analysis_202
This notebook deals with the analysis of my second research question 'A summary of  visualisations and packages use.'

## Purpose 
* This notebook will read in larger dataset from Prep_200 containing information on display data
* What will be looked at:
    * Visualizations

In [1]:
#importing relevant libraries
import os
import json
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

%matplotlib inline

In [2]:
df_display = pd.read_csv('../data/CSV_files/display_info.csv') # reading in csv

In [3]:
df_display.head()

    nb_id  worksheet_index  cell_index  num_display_data display_data_keys
0  400000              NaN           0                 0                []
1  400000              NaN           1                 0                []
2  400000              NaN           2                 0                []
3  400000              NaN           3                 0                []
4  400000              NaN           4                 0                []

## Visualisations used
Looking at 5 types of visuals used in notebooks:
    * Bar chart 
    * Line graph 
    * Scatter plot
    * Histogram 
    * Pie

In [4]:
df_display = df_display[['display_data_keys']]

In [5]:
df_display = pd.DataFrame([str(line).strip('[').strip(']') for line in df_display['display_data_keys']])

Removing square brackets

In [6]:
df_display = df_display.replace('', np.nan) # replacing empty string with NaN

In [7]:
df_display = df_display.dropna().reset_index(drop=True) # dropping NaN values

In [9]:
df_display.columns = ['display'] # renaming column

In [10]:
df_display.tail()

                                                  display
363716  "librosa.display.specshow(S_log_test, fs_test,...
363717      'librosa.display.waveplot(x_test2, fs_test2)'
363718  "librosa.display.specshow(S_log_test2, fs_test...
363719      'librosa.display.waveplot(x_test3, fs_test3)'
363720  "librosa.display.specshow(S_log_test3, fs_test...

## Bar chart
There are 2 different ways to plot a bar chart in notebooks. 
    * By using (kind = bar) 
    * By using plot.bar()

#### plot.bar()

A function to check for instances of .bar(). Regular expression was used to define the search patterns of each plot.

In [9]:
def has_bar(df):
    a = lambda x: bool(re.compile(r"\.bar(\(.*?)\)").search(x))
    return pd.DataFrame(df.apply(a))

In [10]:
df_display['has_bar'] = has_bar(df_display.display)

In [11]:
df_display['has_bar'].value_counts()

False    356841
True       6880
Name: has_bar, dtype: int64

#### (kind = bar)
A function to check for instances of kind = bar

In [12]:
def has_bar2(df):
    a = lambda x: bool(re.compile(r"\.plot(\(.*?)kind\s?=\s?'bar'(.*?)\)").search(x))
    return pd.DataFrame(df.apply(a))

In [13]:
df_display['has_bar2'] = has_bar2(df_display.display)

In [14]:
df_display['has_bar2'].value_counts()

False    357629
True       6092
Name: has_bar2, dtype: int64

#### Adding both together

In [15]:
df_display.loc[df_display.has_bar2 == (True), 'has_bar'] = True

In [16]:
df_display['has_bar'].value_counts()

False    350763
True      12958
Name: has_bar, dtype: int64

## Scatter plot
There are 2 different ways to plot a scatter plot in notebooks. 
    * By using (kind = scatter) 
    * By using plot.scatter()

#### plot.scatter()

In [17]:
def has_scatter(df):
    c = lambda x: bool(re.compile(r"\.scatter(\(.*?)\)").search(x))
    return pd.DataFrame(df.apply(c))

In [18]:
df_display['has_scatter'] = has_scatter(df_display.display)

In [19]:
df_display['has_scatter'].value_counts()

False    334259
True      29462
Name: has_scatter, dtype: int64

#### (kind = scatter)

In [20]:
def has_scatter2(df):
    a = lambda x: bool(re.compile(r"\.plot(\(.*?)kind\s?=\s?'scatter'(.*?)\)").search(x))
    return pd.DataFrame(df.apply(a))

In [21]:
df_display['has_scatter2'] = has_scatter2(df_display.display)

In [22]:
df_display['has_scatter2'].value_counts()

False    361511
True       2210
Name: has_scatter2, dtype: int64

#### Adding both together

In [23]:
df_display.loc[df_display.has_scatter2 == (True), 'has_scatter'] = True

In [24]:
df_display['has_scatter'].value_counts()

False    332139
True      31582
Name: has_scatter, dtype: int64

## Histogram
There are 2 different ways to plot a histogram in notebooks. 
    * By using (kind = hist) 
    * By using plot.hist()

#### plot.hist()

In [25]:
def has_hist(df):
    b = lambda x: bool(re.compile(r"\.hist(\(.*?)\)").search(x))
    return pd.DataFrame(df.apply(b))

In [26]:
df_display['has_hist'] = has_hist(df_display.display)

In [27]:
df_display['has_hist'].value_counts()

False    340887
True      22834
Name: has_hist, dtype: int64

#### (kind = hist)

In [28]:
def has_hist2(df):
    a = lambda x: bool(re.compile(r"\.plot(\(.*?)kind\s?=\s?'hist'(.*?)\)").search(x))
    return pd.DataFrame(df.apply(a))

In [29]:
df_display['has_hist2'] = has_hist2(df_display.display)

In [30]:
df_display['has_hist2'].value_counts()

False    362836
True        885
Name: has_hist2, dtype: int64

#### Adding both together

In [31]:
df_display.loc[df_display.has_hist2 == (True), 'has_hist'] = True

In [32]:
df_display['has_hist'].value_counts()

False    340027
True      23694
Name: has_hist, dtype: int64

## Pie chart
There are 2 different ways to plot a pie chart in notebooks. 
    * By using (kind = pie) 
    * By using plot.pie()

#### plot.pie()

In [33]:
def has_pie(df):
    d = lambda x: bool(re.compile(r"\.pie(\(.*?)\)").search(x))
    return pd.DataFrame(df.apply(d))

In [34]:
df_display['has_pie'] = has_pie(df_display.display)

In [35]:
df_display['has_pie'].value_counts()

False    362973
True        748
Name: has_pie, dtype: int64

#### (kind = pie)

In [36]:
def has_pie2(df):
    a = lambda x: bool(re.compile(r"\.plot(\(.*?)kind\s?=\s?'pie'(.*?)\)").search(x))
    return pd.DataFrame(df.apply(a))

In [37]:
df_display['has_pie2'] = has_pie2(df_display.display)

In [38]:
df_display['has_pie2'].value_counts()

False    363417
True        304
Name: has_pie2, dtype: int64

#### Adding both together

In [39]:
df_display.loc[df_display.has_pie2 == (True), 'has_pie'] = True

In [40]:
df_display['has_pie'].value_counts()

False    362670
True       1051
Name: has_pie, dtype: int64

## Line Graph
There are 2 different ways to plot a line graph in notebooks. 
    * By using (kind = line) 
    * By using .plot()
Line plots are default when using .plot() so looking for instances of this had to be different. I looked for instances of plot and if this same instance was True for any of the other types of graphs then I set line plot for this instance to False.

#### .plot()

In [41]:
def has_plot(df):
    e = lambda x: bool(re.compile(r"\.plot(\(.*?)\)").search(x))
    return pd.DataFrame(df.apply(e))

In [42]:
df_display['has_plot'] = has_plot(df_display.display)

If line plot is true but one of the other plots is also true then line equates to false.

In [43]:
df_display.loc[df_display.has_bar == (True), 'has_plot'] = False

In [44]:
df_display.loc[df_display.has_scatter == (True), 'has_plot'] = False

In [45]:
df_display.loc[df_display.has_hist == (True), 'has_plot'] = False

In [46]:
df_display.loc[df_display.has_pie == (True), 'has_plot'] = False

In [47]:
df_display['has_plot'].value_counts()

False    268066
True      95655
Name: has_plot, dtype: int64

#### (kind = line)

In [48]:
def has_line(df):
    a = lambda x: bool(re.compile(r"\.plot(\(.*?)kind\s?=\s?'line'(.*?)\)").search(x))
    return pd.DataFrame(df.apply(a))

In [49]:
df_display['has_line'] = has_line(df_display.display)

In [50]:
df_display['has_line'].value_counts()

False    363246
True        475
Name: has_line, dtype: int64

#### Adding both together

In [51]:
df_display.loc[df_display.has_plot == (True), 'has_line'] = True

In [52]:
df_display['has_line'].value_counts()

False    268034
True      95687
Name: has_line, dtype: int64

### Creating a dataframe of instances of each graph

In [53]:
df_display = df_display.drop(['display', 'has_plot', 'has_bar2', 'has_scatter2', 'has_hist2', 'has_pie2'], axis=1)

In [54]:
df_display = df_display.apply(pd.value_counts)

In [55]:
df_display.columns = ['bar','scatter', 'histogram', 'pie', 'line'] #renaming columns

### Saving to CSV

In [56]:
df_display.to_csv('../data/CSV_files/Plot_data.csv', index=False, encoding='utf-8')

Saving CSV file to be used in Results_200